.vscode
.mypy_cache
docker-stack.yml
*.txt
*.code-workspace
.s3cfg

.DS_Store

node_modules
venv
.venv
.env

.idea
frontend/next-env.d.ts
frontend/.env.local
.env
cookiecutter-config-file.yml
docker-compose.override.yml

venv/
.venv/
backend/venv/
backend/.venv/

__pycache__/
*.pyc
*.pyo
*.pyd